/venv
customers/migrations/
core/__pycache__/
customers/__pycache__/
vehicles/__pycache__/
vehicles/migrations/
parking/__pycache__/
parking/migrations/
authentication/__pycache__/
authentication/migrations/
db.sqlite3
.env
pass.sh
entrypoint.sh